### Add missing question texts

In [11]:
import sqlite3 as lite

In [12]:
con = lite.connect("mondey.db")

In [13]:
# get de texts
with con:
    cur = con.cursor()
    de_texts = [
        c for c in cur.execute("select * from childquestiontext where lang_id='de'")
    ]

In [14]:
for de_text in de_texts:
    with con:
        cur = con.cursor()
        sql = f"insert into childquestiontext values ('','','', {de_text[3]}, 'en');"
        print(sql)
        cur.execute(sql)

insert into childquestiontext values ('','','', 3, 'en');
insert into childquestiontext values ('','','', 4, 'en');
insert into childquestiontext values ('','','', 5, 'en');
insert into childquestiontext values ('','','', 6, 'en');
insert into childquestiontext values ('','','', 7, 'en');
insert into childquestiontext values ('','','', 8, 'en');
insert into childquestiontext values ('','','', 9, 'en');
insert into childquestiontext values ('','','', 10, 'en');
insert into childquestiontext values ('','','', 11, 'en');
insert into childquestiontext values ('','','', 12, 'en');
insert into childquestiontext values ('','','', 13, 'en');
insert into childquestiontext values ('','','', 14, 'en');
insert into childquestiontext values ('','','', 15, 'en');
insert into childquestiontext values ('','','', 16, 'en');
insert into childquestiontext values ('','','', 17, 'en');
insert into childquestiontext values ('','','', 18, 'en');
insert into childquestiontext values ('','','', 19, 'en');
insert into childquestiontext values ('','','', 20, 'en');

In [15]:
# repeat for user questions
with con:
    cur = con.cursor()
    de_texts = [
        c for c in cur.execute("select * from userquestiontext where lang_id='de'")
    ]

In [16]:
for de_text in de_texts:
    with con:
        cur = con.cursor()
        sql = f"insert into userquestiontext values ('','','', {de_text[3]}, 'en');"
        print(sql)
        cur.execute(sql)

insert into userquestiontext values ('','','', 2, 'en');
insert into userquestiontext values ('','','', 3, 'en');
insert into userquestiontext values ('','','', 4, 'en');
insert into userquestiontext values ('','','', 5, 'en');
insert into userquestiontext values ('','','', 6, 'en');
insert into userquestiontext values ('','','', 7, 'en');
insert into userquestiontext values ('','','', 8, 'en');
insert into userquestiontext values ('','','', 9, 'en');
insert into userquestiontext values ('','','', 10, 'en');
insert into userquestiontext values ('','','', 11, 'en');
insert into userquestiontext values ('','','', 12, 'en');